body {
    background-color:  goldenrod
}

h1 {
    text-align: center;
}

p {
    text-align: left;
}

main{
     background-color: rgb(0, 0, 0);
}

#banner {
    width: 30%;
}

p{
     color: rgb(13, 224, 136);
}
h3{
    color: goldenrod;
}

h2{
    color: goldenrod;
}